<div class="row" id="status">
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-body text-center">
                <h1>{{statusCtrl.currentUser}}</h1>
                <h3>people on this site now</h3>
            </div>
        </div>

        <div class="panel panel-default visit-trend">
            <h3>&nbsp;Visits Today</h3>
            <div class="panel-body">
                <canvas id="bar" class="chart chart-bar" data="statusCtrl.visitTrend" labels="statusCtrl.visitTrendLabels"></canvas>
            </div>

            <h3>&nbsp;Devices Distribution</h3>
        </div>

        <div class="device-distribution">
            <div class="col-md-4 text-center devices">
                <h3>Devices</h3>
            </div>

            <div class="col-md-4 text-center browsers">
                <h3>Browsers</h3>
            </div>

            <div class="col-md-4 text-center operation-systems">
                <h3>Operating Systems</h3>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-default top-20">
            <div class="panel-body">
                <h4>Top 20</h4>
                <p><em>Pages that people have visited this day</em></p>
                <div ng-repeat="item in statusCtrl.top20">
                    <p>{{item.url}}</p>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                             aria-valuemax="100" style="width: {{item.weight}}%;">
                            <span class="sr-only">{{item.weight}}% Complete</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>