<div class="row">
    <div class="col-md-6 landing-categories">
        <div class="panel panel-default">
            <div class="panel-heading">Main Landing Categories</div>
            <div class="panel-body">
                <canvas class="chart chart-doughnut" data="audienceLandingCtrl.landingCategories.data"
                        labels="audienceLandingCtrl.landingCategories.labels" legend="true"></canvas>
            </div>
        </div>
    </div>

    <div class="col-md-6 landing-pages">

        <div class="panel panel-primary">
            <div class="panel-heading">Main Landing Categories</div>
            <div class="list-group">
                <a class="list-group-item" ng-repeat="item in audienceLandingCtrl.landingCategoryList"
                   ng-click="audienceLandingCtrl.getLandingResultByCategory(item.name)">
                    <span class="badge">{{item.dup}}</span>{{item.name}}
                </a>
            </div>
        </div>

    </div>
</div>

<div class="row">
    <div class="col-md-6 main-landing-categories-list">
        <div class="panel panel-default">
            <div class="panel-heading">Top Landing Pages</div>
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="item in audienceLandingCtrl.landingPages">
                    <span class="badge">{{item.dup}}</span>{{item.url}}
                </li>
            </ul>
        </div>
    </div>

    <div class="col-md-6 selected-url-list">
        <div class="panel panel-default">
            <div class="panel-heading">Top landing pages in selected category</div>
            <div class="list-group">
                <a class="list-group-item" ng-repeat="item in audienceLandingCtrl.selectedLandingPages">
                    <span class="badge">{{item.dup}}</span>{{item.name}}
                </a>
            </div>
        </div>
    </div>
</div>